.topbar
  // background-color: #f5f5f5
  background-color: white
  border-bottom: 1px solid #e5e5e5
  padding-top: 6px
  padding-bottom: 6px
  color: #333
  margin-bottom: 20px
  font-weight: 600
  line-height: 20px

  ul
    list-style-type: none
    a
    i
      line-height: 35px

  a
    color: #333
    margin: 0 10px

    &:hover
    &:active
      color: #4183c4
      text-decoration: none

  .spacer
    margin: 0 12px
    display: inline-block
    font-weight: 100

  .fa
    font-size: 18px
    vertical-align: top

  .logo
    width: 35px
    height: 35px
