div.col-sm-offset-1.col-sm-10.topicDetail
  h3.headline
    | {{topic.headline}}
  div.topicDiscussion
    table
      tr.comment(ng-repeat="comment in comments")
        td
          img.picture(src="{{comment._user.picture}}")
        td.commentText
          div.commentName
            | {{comment._user.name}}
          | {{comment.text}}
      tr.newComment
        td
          img.picture(ng-src="{{me.picture}}")
        td
          form(ng-submit="postComment()")
            textarea.form-control(rows="3" required="required" ng-model="newCommentText" ng-disabled="posting")
            button.btn.btn-primary.pull-right(type="submit" ng-disabled="posting")
              | Send
