.startTopic
  margin-top: 20px

  // padding: 0 30px

  input
    margin-bottom: 5px

.allTopics
  margin-top: 30px

  .panel-heading
    font-size: 20px
    font-weight: 600

  .topicItem
    display: block
    padding: 15px 21px
    border-bottom: 1px solid #e5e5e5
    color: black;

    &:hover
    &:active
      background-color: darken(#fff, 2%)
      text-decoration: none

      .headline
        span
          text-decoration: underline

    &:last-child
      border-bottom: 0

    .headline
      font-size: 18px

      small
        font-size: 70%
        color: #888

    .participants
      margin-top: 3px
      margin-bottom: 3px

      .participant
        margin-left: 2px
        width: 20px
        height: 20px
        border-radius: 20px

        &.creator
          box-shadow: 0 0 2px #428bca

.topicDetail
  .headline
    span
      padding: 2px 5px 4px 7px
      border: 1px solid
      border-radius: 50px
      color: #428bca
      background-color: #f5f5f5
      font-size: 18px

  .topicDiscussion
    background-color: white
    border: 1px solid #ddd
    // padding: 15px 18px

    .picture
      width: 40px
      height: 40px
      margin-top: 5px
      margin-right: 15px
      border-radius: 3px

    .commentText
    .newComment
      font-family: 'freight-text-pro'
      font-size: 16px

    .newComment
      button
        margin-top: 3px

      textarea
        font-size: 16px
        margin-top: 3px

    .commentText
      white-space: pre-wrap

      .commentName
        font-family: 'freight-sans-pro'
        font-weight: 600
        font-size: 17px

    table
      td
        padding-top: 14px
        padding-bottom: 14px
        border-bottom: 1px solid #ddd

        &:first-child
          vertical-align: top
          padding-left: 20px

        &:last-child
          padding-right: 20px

      tr
        &:last-child
          td
            border-bottom: 0

